<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<h1>Student Info</h1>
<h3>Student Name: <%=@student["name"] %></h3>
<h3>Spirit Animal: <%=@student["name"] %></h3>
  <p>
  <a href="/squads/<%=@squad["id"] %>/students">Create new Student</a>
    <!-- <%=@student[#{}"name"] %> -->
    </p>
</body>
</html>

<!-- /squads/<%= squad[#{}"id"]
# /squads/<%=@squad[#{}"id"] %>/students -->